body {
  font-family: "Raleway", sans-serif;
  background-color: #eeeeee;
  margin: 0px;
}

.App {
  width: auto;
  margin: auto;
  text-align: center;
}

header {
  background-color: #4f8a8b;
  width: 100%;
  margin-bottom: 2em;
}

header h1 {
  font-weight: 700;
  font-size: 2.5em;
  padding-left: 0.5em;
  color: #fbd46d;
}

header .item {
  display: flex;
  vertical-align: middle;
}
header .icon {
  color: #fbd46d;
}

header.root {
  flex-grow: 1;
}

header .home-button {
  right: 0;
  margin-left: 1em;
  font-size: 1em;
}

header .button {
  right: 0;
  margin-left: 0.5em;
  font-size: 1em;
}

header .button.last {
  right: 0;
  margin-right: 1em;
}

header .search {
  right: 0;
  margin-left: auto;
  width: auto;
  display: flex;
  position: relative;
  border-radius: 4px;
}

header .search-box {
  background-color: rgba(255, 255, 255, 0.15);
}

header .search-box:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

header .search-box .search-icon {
  padding: 0 1em;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .search-box .input-root {
  color: inherit;
}

header .search-box .input-input {
  padding: 0.5em 0.5em 0.5em 0;
  padding-left: 3em;
  transition: width 0.5s;
  width: 10ch;
}

header .search-box .input-input:focus {
  width: 20ch;
}

.list {
  width: 32em;
  margin: auto;
  padding: 0 2em 1em;
  display: inline-block;
  vertical-align: top;
}

.list h1 {
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: 0.25vw;
}

.list.Upcoming {
  margin-bottom: 4em;
}

.series {
  margin: -1px auto 0px;
  display: flex;
  width: 100%;
  height: 180px;
  border: 1px solid;
}

.series.top {
  margin: auto;
  border-radius: 10px 10px 0px 0px;
}

.series.bottom {
  border-radius: 0px 0px 10px 10px;
}

.series.single {
  border-radius: 10px;
}

.series h2 {
  width: auto;
  margin: auto;
  font-weight: 600;
  letter-spacing: 0;
}

.series img {
  vertical-align: middle;
  color: #222831;
  padding: 0.5em;
  width: 20%;
  object-fit: cover;
}

.series .text {
  color: #222831;
  padding: 1em 0.5em;
  margin: auto auto auto 0;
  width: auto;
  text-align: left;
  vertical-align: center;
}
.series .text h1 {
  vertical-align: bottom;
  margin: 0.25em 0;
}
.series .text p {
  vertical-align: top;
  line-height: 1.4;
  margin: 0.25em 0 0;
}

.series .checkbox {
  width: 10%;
  padding: 0.5em;
  margin: auto 0;
  vertical-align: middle;
}

@media (max-width: 768px) {
  header {
    margin-bottom: 3vw;
  }

  header h1.item {
    font-size: 5vw;
  }

  .list.Watchlist h1 {
    margin-block-start: 2vw;
  }

  .list {
    padding: 0;
    width: 100%;
  }

  .series {
    border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
}

@media (max-width: 500px) {
  header .search-box .input-input:focus {
    width: 100%;
  }
}
